spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/book_social_network
    username: BOOK-NET
    password: LOKESH@!@#
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

#to configure an online smtp source everything is same except the host username and password ,the current one is running on localhost
  mail:
    host: localhost
    port: 1025
    username: lokesh
    password: lokesh
    properties:
      mail:
        smtp:
          trust: "*"
        auth: true
        starttls:
          enable: true
        connection-timeout: 5000
        timeout: 3000
        write-timeout: 5000

application:
  security:
    jwt:
       secret-key: QWxhZGRpbk9wZW5TZXNhbWVTZXNhbWVTZXNhbWVTZXNhbWU=
       expiration: 8640000
  mailing:
    frontend:
      activation-url: http://localhost:4200/activate-account


server:
  port: 8088